# MacOS
.DS_Store

# vscode
.vscode/

# Python
*.pyc
__pycache__/
dist/
build/
*.egg-info/
_exec.py

# Experiments
tmp/
backup/
tbl_cache/

# Jupyter notebook
.ipynb_checkpoints
.ipynb_checkpoints/
*.ipynb

# exe
*.spec

# config
config/


# qatest
*.ipynb
*.xlsx
*.csv

# pem
*.pem
main.py

# image
*.png
*.PIL
*.ico