# MacOS
.DS_Store

# vscode
.vscode/

# Python
*.pyc
__pycache__/
dist/
build/
*.egg-info/
.qt_for_python/

# Experiments
tmp/
bak/
tbl_cache/


# Jupyter notebook
.ipynb_checkpoints/
*.ipynb

# exec
*.spec

# config
config/


# ipynb, csv, text, zip
*.ipynb
*.xlsx
*.csv
*.zip
conn.txt

# pem
*.pem

# image
*.PIL
*.ico
*.icns

# .py
scraper_naver.py

# venv
venv